@import "tailwindcss";

html, body, #root { height: 100%; }
body {
  background: linear-gradient(to bottom, #f8fafc, #ffffff);
}
.dark body {
  background: linear-gradient(to bottom, #0f172a, #020617);
}